html, body, .v-application {
  font-family: sans-serif !important;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #d0bb79;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.v-application a {
  color: unset;
  text-decoration: none;
}

.container {
  max-width: unset!important;
  margin: 0 !important;
  padding: 0 !important;
}
.cur-pntr {
  cursor: pointer !important;
}

.page-layout {
  width: 90%;
  max-width: 90%;
}

.full-width {
  width: 100%;
}

.parallax {
  /* The image used */

  /* Set a specific height */
  min-height: 20px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.motif-background {
  background-image: url(../../static/background-motif.jpeg);
  min-height: 80vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .page-layout {
    width: 86%;
    max-width: 86%;
  }
}

@media screen and (min-width: 1500px) {
  .page-layout {
    width: 1400px;
    max-width: 1400px;
  }
}

// @-webkit-keyframes load1 {
//   0%,
//   80%,
//   100% {
//     box-shadow: 0 0;
//     height: 4em;
//   }
//   40% {
//     box-shadow: 0 -2em;
//     height: 5em;
//   }
// }
// @keyframes load1 {
//   0%,
//   80%,
//   100% {
//     box-shadow: 0 0;
//     height: 4em;
//   }
//   40% {
//     box-shadow: 0 -2em;
//     height: 5em;
//   }
// }